body {
    background-color: #f5f5f5; /* Fondo gris claro */
    font-family: "Georgia", serif;
    color: #333; /* Texto en gris oscuro */
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333; /* Fondo gris oscuro */
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: #800000; /* Fondo marrón oscuro */
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #660000;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

