body {
    background-color: #ffffff; /* Fondo blanco */
    font-family: "Arial", sans-serif;
    color: #000; /* Texto en negro */
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #000; /* Fondo negro */
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #f8f8f8; /* Fondo gris muy claro */
    color: #000;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

footer {
    background-color: #f8f8f8;
    color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
