body{
   /* 2) Definiendo estilos básicos */
    background-color: #4B0082;
    color: white;
}

/* 3) Estilizando con colores y formatos */
h1 {
    font-family: 'Courier New', Courier, monospace; /* Cambia el tipo de letra del título */
    color: #007bff; /* Cambia el color del texto del título */
    margin-bottom: 20px;
}
