body{
   /* 2) Definiendo estilos básicos */
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #a9a9a9; /* Letra gris oscuro para el contenido *
}

/* 3) Estilizando con colores y formatos */
h1 {
    text-align: center;
    color: #000000; /* Letra negra */
    font-family: 'Times New Roman', Times, serif; /* Estilo de letra */
    font-size: 14px; /* Tamaño de letra */
    margin-bottom: 20px;
}

/* Estilo para el título */
h1, h2, h3, h4, h5, h6 {
    border-bottom: 2px solid #000000; /* Borde separador del título */
    padding-bottom: 10px; /* Espacio entre el título y el borde */
}
/* Estilo del pie de página */
footer {
    background-color: #f1f1f1;
    color: #696969; /* Letra gris oscuro */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
